<!DOCTYPE html>
{% extends 'navbar.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <title>YOGA Club</title>

</head>
<body>
{% block body %}




    <section class="about__achievements">
        <div class="container about__achievements-container">
            <div class="about__achievements-left">
                <img src="https://github.com/ASAISANKAR/images/blob/main/log.png?raw=true">
            </div>

            <div class="about__achievements-right">
                <h1>About Us</h1>
                <p>
                    Welcome to YOGA Club!! Our Yoga Club fosters holistic wellbeing and mindfulness on campus. Beyond physical exercise, we promote self-awareness and resilience through yoga. Students find tranquility, self-discovery, and community in our inclusive space. Join us to explore stillness, enhance flexibility, and build connections.
                </p>
                <div class="achievements__cards">
                    <article class="achievement__card">
                        <span class="achievement__icon">
                            <i class="uil uil-chat-bubble-user"></i>
                        </span>
                        <h3 class="num" data-val="18">20</h3>
                        <p>Core Team</p>
                    </article>
                    <article class="achievement__card">
                        <span class="achievement__icon">
                            <i class="uil uil-graduation-cap"></i>
                        </span>

                    </article>
                    <article class="achievement__card">
                        <span class="achievement__icon">
                            <i class="uil uil-meeting-board"></i>
                        </span>
                        <h3 class="num" data-val="45">2</h3>
                        <p>Events Conducted</p>
                    </article>
                    <article class="achievement__card">
                        <span class="achievement__icon">
                            <i class="uil uil-users-alt"></i>
                        </span>
                        <h3 class="num" data-val="622">60</h3>
                        <p>Total Members</p>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <!-- END OF ACHIEVEMENTS, COUNTER -->


    <!-- Club -->
    <section class="team">
        <h2>Yoga Trainer</h2>
        <div class="container text-center">
  <div class="row">
    <div class="col">
      <div align="center">
        <div class="card" style="width: 18rem;">
  <img src="https://github.com/ASAISANKAR/images/blob/main/WhatsApp%20Image%202024-03-26%20at%2015.21.50_9670e13f.jpg?raw=true" class="card-img-top" width="250px" height="350px" alt="..." style="border-radius: 40px; box-shadow: 40px 40px 40px rgba(0, 0, 0, 0.1);">
  <div class="card-body" >
    <h5 class="card-title">Poojitha</h5>

  </div>
</div>
        </div>
    </div>
    <div class="col">
       <div align="center">
        <div class="card" style="width: 18rem;">
  <img src="https://github.com/ASAISANKAR/images/blob/main/WhatsApp%20Image%202024-03-26%20at%2015.21.51_5c45d370.jpg?raw=true" class="card-img-top" height="350px" alt="..."  style="border-radius: 40px; box-shadow: 40px 40px 40px rgba(0, 0, 0, 0.1);">
  <div class="card-body" >
    <h5 class="card-title">Hari</h5>

  </div>
</div>
        </div>
    </div>

  </div>
</div>

    </section>

<!--President-->
    <section class="team">
        <h2>President</h2>
        <div class="container text-center">
  <div class="row">

    <div class="col">
       <div align="center">
        <div class="card" style="width: 18rem;">
  <img src="https://github.com/ASAISANKAR/images/blob/main/WhatsApp%20Image%202024-03-26%20at%2015.52.19_169bbc4e.jpg?raw=true" class="card-img-top" alt="..." style="border-radius: 40px; box-shadow: 40px 40px 40px rgba(0, 0, 0, 0.1);">
  <div class="card-body" >
    <h5 class="card-title">Mr. N Yallaiah</h5>

  </div>
</div>
        </div>
    </div>

  </div>
</div>

    </section>


<!--VP-->
   <section class="team">
        <h2>Vice President</h2>
        <div class="container text-center">
  <div class="row">

    <div class="col">
       <div align="center">
        <div class="card" style="width: 18rem;">
  <img src="https://github.com/ASAISANKAR/images/blob/main/WhatsApp%20Image%202024-03-26%20at%2018.49.38_b59f899c.jpg?raw=true" class="card-img-top" alt="..."  style="border-radius: 40px; box-shadow: 40px 40px 40px rgba(0, 0, 0, 0.1);">
  <div class="card-body" >
    <h5 class="card-title">Mr. Sivaji Ganesh
</h5>

  </div>
</div>
        </div>
    </div>

  </div>
</div>

    </section>

<!--Secretary-->
    <section class="team">
        <h2>Secretarys</h2>
        <div class="container text-center">
  <div class="row">
    <div class="col">
      <div align="center">
        <div class="card" style="width: 18rem;">
  <img src="https://github.com/ASAISANKAR/images/blob/main/WhatsApp%20Image%202024-03-26%20at%2014.25.41_7625b59d.jpg?raw=true" class="card-img-top" width="200px" height="300px" alt="..."  style="border-radius: 40px; box-shadow: 40px 40px 40px rgba(0, 0, 0, 0.1);">
  <div class="card-body" >
    <h5 class="card-title">Mr. Subrahmanyam</h5>

  </div>
</div>
        </div>
    </div>
    <div class="col">
       <div align="center">
        <div class="card" style="width: 18rem;">
  <img src="https://github.com/ASAISANKAR/images/blob/main/WhatsApp%20Image%202024-03-26%20at%2015.21.51_d7601e61.jpg?raw=true" class="card-img-top"  alt="..."  style="border-radius: 40px; box-shadow: 40px 40px 40px rgba(0, 0, 0, 0.1);">
  <div class="card-body" >
    <h5 class="card-title">Ms. Likitha Chowdary</h5>

  </div>
</div>
        </div>
    </div>

  </div>
</div>

    </section>


<!--Technical-->
    <section class="team">
        <h2>Technical Officers</h2>
        <div class="container text-center">
  <div class="row">
    <div class="col">
      <div align="center">
        <div class="card" style="width: 18rem;">
  <img src="https://github.com/ASAISANKAR/images/blob/main/WhatsApp%20Image%202024-03-26%20at%2015.00.07_fe56eb2f.jpg?raw=true" class="card-img-top" alt="..."  style="border-radius: 40px; box-shadow: 40px 40px 40px rgba(0, 0, 0, 0.1);">
  <div class="card-body" >
    <h5 class="card-title">Mr. A Sai Sankar</h5>

  </div>
</div>
        </div>
    </div>
    <div class="col">
       <div align="center">
        <div class="card" style="width: 18rem;">
  <img src="https://github.com/ASAISANKAR/images/blob/main/WhatsApp%20Image%202024-03-26%20at%2014.37.41_4faead6c.jpg?raw=true" class="card-img-top" alt="..."  style="border-radius: 40px; box-shadow: 40px 40px 40px rgba(0, 0, 0, 0.1);">
  <div class="card-body" >
    <h5 class="card-title">Mr. Uday Krishna</h5>

  </div>
</div>
        </div>
    </div>

  </div>
</div>

    </section>

<!--Design Officer-->
    <section class="team">
        <h2>Design Officers</h2>
        <div class="container text-center">
  <div class="row">
    <div class="col">
      <div align="center">
        <div class="card" style="width: 18rem;">
  <img src="https://github.com/ASAISANKAR/images/blob/main/eswar.jpg?raw=true" class="card-img-top" alt="..."  style="border-radius: 40px; box-shadow: 40px 40px 40px rgba(0, 0, 0, 0.1);">
  <div class="card-body" >
    <h5 class="card-title">Mr. A Eswar</h5>

  </div>
</div>
        </div>
    </div>
    <div class="col">
       <div align="center">
        <div class="card" style="width: 18rem;">
  <img src="https://github.com/ASAISANKAR/images/blob/main/WhatsApp%20Image%202024-03-26%20at%2017.53.13_ca149a6d.jpg?raw=true" class="card-img-top" alt="..."  style="border-radius: 40px; box-shadow: 40px 40px 40px rgba(0, 0, 0, 0.1);">
  <div class="card-body" >
    <h5 class="card-title">Mr. Sai Ranganadha Charyulu
</h5>

  </div>
</div>
        </div>
    </div>
      <div class="col">
       <div align="center">
        <div class="card" style="width: 18rem;">
  <img src="https://github.com/ASAISANKAR/images/blob/main/WhatsApp%20Image%202024-03-26%20at%2014.37.19_a53b2a46.jpg?raw=true" class="card-img-top" alt="..."  style="border-radius: 40px; box-shadow: 40px 40px 40px rgba(0, 0, 0, 0.1);">
  <div class="card-body" >
    <h5 class="card-title">Ms. Veena bhargavi

</h5>

  </div>
</div>
        </div>
    </div>

  </div>
</div>
    </section>


<!--Event Co-ordinator-->
    <section class="team">
        <h2>Event Co-ordinators</h2>
        <div class="container text-center">
  <div class="row">
    <div class="col">
      <div align="center">
        <div class="card" style="width: 18rem;">
  <img src="https://github.com/ASAISANKAR/images/blob/main/WhatsApp%20Image%202024-03-26%20at%2014.59.15_e9274fad.jpg?raw=true" class="card-img-top" alt="..."  style="border-radius: 40px; box-shadow: 40px 40px 40px rgba(0, 0, 0, 0.1);">
  <div class="card-body" >
    <h5 class="card-title">Mr. Y Rohan</h5>

  </div>
</div>
        </div>
    </div>
    <div class="col">
       <div align="center">
        <div class="card" style="width: 18rem;">
  <img src="https://github.com/ASAISANKAR/images/blob/main/WhatsApp%20Image%202024-03-26%20at%2016.50.03_dc1f5715.jpg?raw=true" height="400px" class="card-img-top" alt="..."  style="border-radius: 40px; box-shadow: 40px 40px 40px rgba(0, 0, 0, 0.1);" >
  <div class="card-body" >
    <h5 class="card-title">Ms. Naga Jyeshnu
</h5>

  </div>
</div>
        </div>
    </div>

  </div>
</div>

    </section>


<!--Student Relations-->
    <section class="team">
        <h2>Student Relations</h2>
        <div class="container text-center">
  <div class="row">
    <div class="col">
      <div align="center">
        <div class="card" style="width: 18rem;">
  <img src="https://github.com/ASAISANKAR/images/blob/main/WhatsApp%20Image%202024-03-26%20at%2018.41.46_85e60df9.jpg?raw=true" class="card-img-top" alt="..."  style="border-radius: 40px; box-shadow: 40px 40px 40px rgba(0, 0, 0, 0.1);">
  <div class="card-body" >
    <h5 class="card-title">Mr. Haneesh </h5>

  </div>
</div>
        </div>
    </div>
    <div class="col">
       <div align="center">
        <div class="card" style="width: 18rem;">
  <img src="https://github.com/ASAISANKAR/images/blob/main/WhatsApp%20Image%202024-03-26%20at%2016.16.19_e29fd3a8.jpg?raw=true" class="card-img-top" alt="..."  style="border-radius: 40px; box-shadow: 40px 40px 40px rgba(0, 0, 0, 0.1);">
  <div class="card-body" >
    <h5 class="card-title">Ms. Naga Anvitha
</h5>

  </div>
</div>
        </div>
    </div>

  </div>
</div>

    </section>


<!--Social Media-->
    <section class="team">
        <h2>Social Media</h2>
        <div class="container text-center">
  <div class="row">
    <div class="col">
      <div align="center">
        <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="..."  style="border-radius: 40px; box-shadow: 40px 40px 40px rgba(0, 0, 0, 0.1);">
  <div class="card-body" >
    <h5 class="card-title">Ms. Satya
</h5>

  </div>
</div>
        </div>
    </div>
    <div class="col">
       <div align="center">
        <div class="card" style="width: 18rem;">
  <img src="https://github.com/ASAISANKAR/images/blob/main/WhatsApp%20Image%202024-03-26%20at%2015.51.09_0a5d13df.jpg?raw=true" class="card-img-top" alt="..."  style="border-radius: 40px; box-shadow: 40px 40px 40px rgba(0, 0, 0, 0.1);">
  <div class="card-body" >
    <h5 class="card-title">Ms. Sravanthi Karnati
</h5>

  </div>
</div>
        </div>
    </div>

  </div>
</div>

    </section>


<!--Technical Observer-->
    <section class="team">
        <h2>Technical Observer</h2>
        <div class="container text-center">
  <div class="row">
    <div class="col">
      <div align="center">
        <div class="card" style="width: 18rem;">
  <img src="https://github.com/ASAISANKAR/images/blob/main/WhatsApp%20Image%202024-03-26%20at%2015.39.45_4234ec22.jpg?raw=true" class="card-img-top" alt="..."  style="border-radius: 40px; box-shadow: 40px 40px 40px rgba(0, 0, 0, 0.1);">
  <div class="card-body" >
    <h5 class="card-title">Mr. Jyothish</h5>

  </div>
</div>
        </div>
    </div>


  </div>
</div>

    </section>



{% endblock %}

</body>
</html>